@media (max-width: 620px) {
    .pokemon-slider {
        padding: 0px 0px;
        gap: 2px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .btn-seta{
        width: 20px;
        height: 20px;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pokemons {
        height: 480px;
    }
    .cartao .container-imagem .imagem-pokemon {
        height:100%;
        width: 100%;
        padding: 5px;
    }
    .cartao .informacoes .nome {
        max-width: 50%;
        font-size: 18px;
    }
    .cartao .informacoes .vida {
        font-size: 10px;
    }
    .cartao .descricao .titulo{
        font-size: 14px;
    }
    .cartao .descricao .texto{
        font-size: 12px;
        text-align:justify;
    }
}